.toggleContainer {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    gap: 25px;
  }
}

.toggleOption {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgba(35, 31, 32, 0.82);
  cursor: pointer;
  transition: color 0.3s, border-bottom 0.3s;

  &:hover {
    color: black;
  }

  &.active {
    color: black;
    border-bottom: 2px solid black;
  }
}

.icon {
  font-size: 1.25rem; // Adjust size as per design
}

.type {
  font-size: 0.875rem; // Adjust size for text
}
